<div class="d-flex justify-content-between px-5 pt-3 bg-grey">
  <div>
   <i class="fa-solid fa-film"></i>
  </div>
  <div d-flex justify-content>
    <p> <%= link_to "My lists", lists_path, class: 'text-decoration-none text-black mx-3' %> <%= link_to "New list", lists_path, class: 'text-decoration-none text-black mx-3' %></p>
  </div>
</div>
